<div class="card card-custom">
    <div class="card-header px-4">
        <div class="card-title">
            <h3 class="card-label">Select Production Items</h3>
        </div>
        <div class="card-toolbar float-right">
            <button class="btn btn-sm btn-info m-1" (click)="showRecipes()">
                Recipes
            </button>
            <button class="btn btn-sm btn-success" (click)="onSubmit()">
                Submit
            </button>
        </div>
    </div>
    <div class="card-body">
        <table *ngIf="production?.length" class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Maximise</th>
                    <th scope="col">Sink</th>
                    <th scope="col">Power</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of production">
                    <td>{{part.part}}</td>
                    <td>{{part.quantity}}</td>
                    <td>{{part.maximise}}</td>
                    <td>{{part.sink}}</td>
                    <td>{{part.power}}</td>
                    <td class="text-danger" (click)="removeItem(part)" style="cursor: pointer;">Remove</td>
                </tr>
            </tbody>
        </table>
        <div [formGroup]="productionItemForm" class="grid align-items-center">
            <div class="row">
                <div class="form-group p-0 col-3">
                    <label  class="mx-3">Item:</label>
                    <select formControlName="item" class="form-select form-select-lg">
                        <option *ngFor="let option of partNames" [value]="option">
                            {{option}}
                        </option>
                    </select>
                </div>
                <div class="form-group p-0 col-2">
                    <label class="mx-3">Quantity:</label>
                    <input type="number" formControlName="quantity" min="1">
                </div>
                <div class="form-group p-0 col-1">
                    <label class="mx-3">Maximise?</label>
                    <input type="checkbox" formControlName="toMaximise" (click)="setMaximise()">
                </div>
                <div class="form-group p-0 col-1">
                    <label class="mx-3">Sink?</label>
                    <input type="checkbox" formControlName="forSink" (click)="setSink()">
                </div>
                <div class="form-group p-0 col-1">
                    <label class="mx-3">Power?</label>
                    <input type="checkbox" formControlName="forPower" (click)="setPower()">
                </div>
                <div class="form-group p-0 col-2">
                    <button type="submit" class="btn btn-success btn-sm" (click)="addItem()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isShowRecipes" class="card card-custom">
    <div class="card-header px-4">
        <div class="card-title">
            <h3 class="card-label">Recipes</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="grid align-items-center">
            <div class="row">
                <div *ngFor="let part of parts" class="col-2">
                    <div *ngIf="part.recipes.length">
                        <div class="d-flex align-items-center my-1">
                            <img [src]="getImageUrl(part.part)" class="img-fluid" style="width: 15%;">
                            <h3 class="text-capitalize font-weight-bold text-info mx-2">{{ part.part }}</h3>
                        </div>
                        <div class="form-group">
                            <div *ngFor="let recipe of part.recipes" class="p-0 m-1">
                                <button type="button" class="btn btn-sm btn-outline-warning text-capitalize" style="width: 100%" (click)="selectRecipe($event, part, recipe)">{{ recipe.part }}
                                    <input *ngIf="recipe.isChecked" type="number" class="float-right ml-2" max="1" min="0" step="0.1" [value]="recipe.ratio">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="result" class="card card-custom">
    <div class="card-header px-4">
        <div class="card-title">
            <h3 class="card-label">Results</h3>
        </div>
    </div>
    <div class="card-body">
        <table *ngIf="resourceUsage" class="table">
            <thead>
                <tr>
                    <th scope="col">Iron Ore</th>
                    <th scope="col">Copper Ore</th>
                    <th scope="col">Limestone</th>
                    <th scope="col">Coal</th>
                    <th scope="col">Caterium Ore</th>
                    <th scope="col">Crude Oil</th>
                    <th scope="col">Raw Quartz</th>
                    <th scope="col">Sulphur</th>
                    <th scope="col">Bauxite</th>
                    <th scope="col">Nitrogen</th>
                    <th scope="col">Uranium</th>
                    <th scope="col">Water</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">{{ resourceUsage.iron_ore }}</th>
                    <th scope="col">{{ resourceUsage.copper_ore }}</th>
                    <th scope="col">{{ resourceUsage.limestone }}</th>
                    <th scope="col">{{ resourceUsage.coal }}</th>
                    <th scope="col">{{ resourceUsage.caterium_ore }}</th>
                    <th scope="col">{{ resourceUsage.crude_oil }}</th>
                    <th scope="col">{{ resourceUsage.raw_quartz }}</th>
                    <th scope="col">{{ resourceUsage.sulphur }}</th>
                    <th scope="col">{{ resourceUsage.bauxite }}</th>
                    <th scope="col">{{ resourceUsage.nitrogen }}</th>
                    <th scope="col">{{ resourceUsage.uranium }}</th>
                    <th scope="col">{{ resourceUsage.water }}</th>
                </tr>
            </tbody>
        </table>
        <table *ngIf="result?.length" class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Demand</th>
                    <th scope="col">Production</th>
                    <th scope="col">Buildings</th>
                    <th scope="col">Power</th>
                </tr>
            </thead>
            <tbody *ngFor="let part of result">
                <tr *ngFor="let recipe of part.recipes">
                    <td>{{recipe.part}}</td>
                    <td>{{recipe.demand}}</td>
                    <td>{{recipe.totalProduction}}</td>
                    <td>{{recipe.buildings}}</td>
                    <td>{{recipe.totalPower}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>